{% extends 'core/base.html' %}

{% block content %}
<h2 class="mb-4">Statystyki projektów</h2>

<div class="card shadow-sm p-4">
    <canvas id="projectsChart"></canvas>
</div>

{{ labels|json_script:"chart-labels" }}
{{ counts|json_script:"chart-data" }}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const chartLabels = JSON.parse(
    document.getElementById('chart-labels').textContent
);
const chartData = JSON.parse(
    document.getElementById('chart-data').textContent
);

new Chart(document.getElementById('projectsChart'), {
    type: 'bar',
    data: {
        labels: chartLabels,
        datasets: [{
            label: 'Liczba projektów',
            data: chartData,
            borderWidth: 1
        }]
    }
});
</script>
{% endblock %}
