{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5 text-center">

    <h1 class="mb-3">Witam!</h1>
    <p class="lead">
        Oto moja strona
    </p>

</div>
<div class="divider">
    <span></span>
</div>
<div class="home-menu">
    <a href="{% url 'projects' %}" class="menu-item projects">
        <span>Projekty</span>
    </a>

    <a href="{% url 'about' %}" class="menu-item about">
        <span>O mnie</span>
    </a>

    <a href="{% url 'dashboard' %}" class="menu-item dashboard">
        <span>Dashboard</span>
    </a>

</div>
<div class="divider">
    <span></span>
</div>

<section class="wallpaper-preview text-center">
    <h2><a class="nav-link" href="{% url 'wallpapers' %}">Tapety AI</a></h2>

    <div class="wallpaper-slider fade-mask drag-scroll">
        <img src="{% static 'img/wallpapers/low/wallpaper1.jpg' %}">
        <img src="{% static 'img/wallpapers/low/wallpaper3.jpg' %}">
        <img src="{% static 'img/wallpapers/low/wallpaper10.jpg' %}">
        <img src="{% static 'img/wallpapers/low/wallpaper13.jpg' %}">
        <img src="{% static 'img/wallpapers/low/wallpaper15.jpg' %}">
        <img src="{% static 'img/wallpapers/low/wallpaper1.jpg' %}">
    </div>
</section>

<div class="divider">
    <span></span>
</div>

<script>
const slider = document.querySelector('.wallpaper-slider');

let isDown = false;
let hasMoved = false;
let startX = 0;
let scrollStart = 0;
let currentX = 0;
let rafId = null;

// start drag
slider.addEventListener('pointerdown', (e) => {
    e.preventDefault(); // blokuje native drag
    isDown = true;
    hasMoved = false;
    startX = e.clientX;
    scrollStart = slider.scrollLeft;

    slider.setPointerCapture(e.pointerId); // łapiemy wszystkie zdarzenia pointer
});

// move
slider.addEventListener('pointermove', (e) => {
    if (!isDown) return;

    const dx = e.clientX - startX;

    if (!hasMoved && Math.abs(dx) > 5) {
        hasMoved = true;
        slider.classList.add('dragging');
    }

    if (!hasMoved) return;

    currentX = e.clientX;

    if (!rafId) {
        rafId = requestAnimationFrame(updateScroll);
    }
});

// end drag
slider.addEventListener('pointerup', (e) => {
    isDown = false;
    hasMoved = false;
    slider.releasePointerCapture(e.pointerId);
});

// scroll update
function updateScroll() {
    const walk = (currentX - startX) * 1.2;
    slider.scrollLeft = scrollStart - walk;
    rafId = null;
}
</script>

{% endblock %}