{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5 text-center">

    <h1 class="mb-3">Witam!</h1>
    <p class="lead">
        Oto moja strona
    </p>

</div>
<div class="divider">
    <span></span>
</div>
<div class="home-menu">
    <a href="{% url 'projects' %}" class="menu-item projects">
        <span>Projekty</span>
    </a>

    <a href="{% url 'about' %}" class="menu-item about">
        <span>O mnie</span>
    </a>

    <a href="{% url 'dashboard' %}" class="menu-item dashboard">
        <span>Dashboard</span>
    </a>

</div>
<div class="divider">
    <span></span>
</div>

<section class="wallpaper-preview text-center">
    <h2><a class="nav-link" href="{% url 'wallpapers' %}">Tapety AI</a></h2>

    <div class="wallpaper-slider fade-mask drag-scroll">
        <img src="{% static 'img/wallpapers/wallpaper1.jpg' %}">
        <img src="{% static 'img/wallpapers/wallpaper2.jpg' %}">
        <img src="{% static 'img/wallpapers/wallpaper3.jpg' %}">
        <img src="{% static 'img/wallpapers/wallpaper5.jpg' %}">
        <img src="{% static 'img/wallpapers/wallpaper3.jpg' %}">
        <img src="{% static 'img/wallpapers/wallpaper5.jpg' %}">
    </div>
</section>

{% endblock %}