<section class="timeline-container">
    <div class="timeline">
        <div class="timeline-item left">
            <div class="content">
                <h5>2023</h5>
                <p>Początek nauki Django</p>
            </div>
        </div>

        <div class="timeline-item right">
            <div class="content">
                <h5>2024</h5>
                <p>Pierwszy projekt portfolio</p>
            </div>
        </div>

        <div class="timeline-item left">
            <div class="content">
                <h5>2025</h5>
                <p>Deploy + dark mode</p>
            </div>
        </div>
    </div>
</section>
