html, body {
    margin: 0;
    padding: 0;
}

/* PEŁNA SZEROKOŚĆ */
.home-menu {
    display: flex;
    width: 100%;
    height: 320px;
    overflow: hidden;
}

/* KAFEL */
.menu-item {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    transition: flex 0.6s ease;
    overflow: hidden;
}

/* TŁA */
.menu-item.projects {
    background: url('../img/tom.jpg') center/cover no-repeat;
}
.menu-item.dashboard {
    background: url('../img/tom.jpg') center/cover no-repeat;
}
.menu-item.about {
    background: url('../img/tom.jpg') center/cover no-repeat;
}

.menu-item:not(:last-child) {
    clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
}

/* CIEMNA WARSTWA */
.menu-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
    z-index: 1;
}



/* TEKST */
.menu-item span {
    position: relative;
    z-index: 3;
    transition: transform 0.4s ease;
}


/* Skośny separator */
.menu-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 60px;
    height: 100%;
    background: rgba(0,0,0,0.25);
    transform: skewX(-12deg);
    z-index: 2;
    pointer-events: none;
}

/* HOVER – ROZSUWANIE */
.home-menu:hover .menu-item {
    flex: 0.4;
}

.home-menu .menu-item:hover {
    flex: 1.6;
}

.home-menu .menu-item:hover span {
    transform: scale(1.4);
}
