html, body {
    margin: 0;
    padding: 0;
}

/* PEŁNA SZEROKOŚĆ */
.home-menu {
    display: flex;
    width: 100%;
    height: 320px;
    overflow: hidden;
}

/* KAFEL */
.menu-item {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    transform: scale(1.4);
    z-index: 2;
    font-size: 1.2rem;
    font-weight: 700;
    transition: flex 0.6s ease;
    overflow: hidden;
}

/* TŁA */
.menu-item.projects {
    background: url('../img/code.jpg') center/cover no-repeat;
}
.menu-item.dashboard {
    background: url('../img/charts.jpg') center/cover no-repeat;
}
.menu-item.about {
    background: url('../img/gg.jpg') center/cover no-repeat;
}

.menu-item:not(:last-child) {
    clip-path: polygon(0 0, 100% 0, 82% 100%, 0 100%);
}

.menu-item:first-child {

    z-index: 3;
}

/* kolejność warstw */
.menu-item:nth-child(2) {
    z-index: 2;
}

.menu-item:nth-child(3) {
    clip-path: polygon(18% 0, 100% 0, 82% 100%, 0 100%);
}

/* CIEMNA WARSTWA */
.menu-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.25);
    z-index: 1;
}



/* TEKST */
.menu-item span {
    position: relative;
    z-index: 3;
    transition: transform 0.4s ease;
}



/* HOVER – ROZSUWANIE */
.home-menu:hover .menu-item {
    flex: 0.4;
}

.home-menu .menu-item:hover {
    flex: 1.4;
}

.home-menu .menu-item:hover span {
    transform: scale(1.7);
}


.divider {
    width: 100%;
    height: 3px;
    margin-top: 3%;
    margin-bottom: 3%;
    background: linear-gradient(
        120deg,
        transparent 15%,
        #505d67 50%,
        transparent 85%
    );
}